Img {
 display: inline-block;
 position: relative;
 width: 400px;
 line-height: 0;
 filter:grayscale(1);
 transition: 500ms;
}

img:hover {
 box-shadow: 8px 8px 20px;
 filter: none;
 z-index: 1;
}

h1 {
  margin: 120px 0;
  text-align: center;
 font-family: serif;
  font-size: 50px;
}


h2 {
  margin: -75px 0;
  text-align: center;
  font-family: serif;
  font-size: 175px;
}

h3 {
 margin: 120px 0;
 text-align: center;
 font-family: Georgia, serif;
 font-size: 30px;
}
